// /*style.css*/
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
// body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-family: sans-serif;
//   line-height: 1.5;
//   min-height: 100vh;
//   background: #f3f3f3;
//   flex-direction: column;
//   margin: 0;
// }

// .main {
//   background-color: #fff;
//   border-radius: 15px;
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
//   padding: 10px 20px;
//   transition: transform 0.2s;
//   width: 500px;
//   text-align: center;
//   justify-content: center;
//   align-items: center;
// }


// label {
//   display: block;
//   width: 100%;
//   margin-top: 10px;
//   margin-bottom: 5px;
//   text-align: left;
//   color: #555;
//   font-weight: bold;
// }

// input {
//   display: block;
//   width: 100%;
//   margin-bottom: 15px;
//   padding: 10px;
//   box-sizing: border-box;
//   border: 1px solid #ddd;
//   border-radius: 5px;
// }

button {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #0a3461;
  width: 100%;
  font-size: 16px;
}

// .wrap {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and html setup */
body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  // background-color: #f4f4f4; /* Optional, just for visual clarity */
}

/* Centering the form container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

/* Styling the form */
.login-form {
  background-color: rgb(244, 237, 237);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px; /* Fixed width of 500px */
  /* Add margin to ensure the form doesn't stick to the edges */
  margin: auto;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

// .login-form button {
//   width: 100%;
//   padding: 10px;
//   background-color:#062b42;
//   color: white;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
// }

.login-form button:hover {
  background-color: #062b42;
}
